.main-author-container {
  display: flex;
  flex-direction: column;
  //   justify-content: space-around;
  gap: 15px;
  height: 100%;
  border: 1px solid yellow;
  margin-top: 20px;
  .author-title-container {
    font-size: 30px;
    text-decoration: underline;
    border: 1px solid red;
    h3 {
      font-size: 50px;
      margin: 15px 0px 0px 0px;
    }
  }
  .author-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
    width: 700px;
    height: 600px;
    background-color: teal;

    h2 {
      font-size: 45px;
      font-weight: 700;
      font-style: italic;
      text-decoration: underline;
      text-shadow: 3px 1.3px 10px white;
      color: black;
    }
    p {
      display: flex;
      justify-content: center;
      font-weight: 700;
      font-size: 20px;
      font-style: italic;
      border: 2px solid black;
      width: 80%;
      height: 300px;
      padding: 15px;
      overflow-y: scroll;
    }
  }
  .author-button-container {
    display: flex;
    justify-content: space-between;
    width: 180px;
    border: 1px solid green;
  }
}
