.images-container {
  .images-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid rgb(60, 3, 3);
    background-color: bisque;
    h1 {
      display: flex;
      justify-content: center;
      width: 30%;
      text-decoration: underline;
    }
  }
  .images-button-container {
    margin: 15px;
    button {
      height: 40px;
      width: 150px;
      background-color: #3c4e4bc6;
      font-size: 18px;
      font-weight: 700;
      color: rgb(229, 201, 41);
    }
  }
  .main-map-images-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 650px;

    .map-images-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      width: 50%;
      height: 550px;
      gap: 10px;
      overflow-y: scroll;
      background-color: rgba(0, 0, 0, 0.478);
      border: 10px solid #0009069a;
    }
  }
}
