html,
body {
  margin: 0;
  width: 100%;
  height: 100%;

  #root {
    width: 100%;
    height: 100%;

    .app-container {
      width: 100%;
      height: 100%;
    }
  }
}

@import "./styles/navbar.scss";

@import "./styles/login-page.scss";
@import "./styles/home-page.scss";
@import "./styles/books.scss";
@import "./styles/authors.scss";
@import "./styles/author.scss";
@import "./styles/genres.scss";
@import "./styles/images.scss";

@import "./styles/create-account-page.scss";
@import "./styles/create-author-page.scss";
@import "./styles/create-book-page.scss";

@import "./styles/authors-mapper.scss";
@import "./styles/genres-mapper.scss";

@import "./styles/main-image.scss";
